Repository jmanhart/age-when-made: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

cleaning up some stuff with the gitignore
  .gitignore
  README.md
  src/components/MovieSearch.test.tsx
  src/utils/calculateAge.test.ts
Due: frontend, backend

Adding in SpeednInsights to track performance thru vercel
  package.json
  src/main.tsx
  yarn.lock
Due: none

Adding in some better search UX, sorting to actor filmography page, improved search but actor now as well
  package-lock.json
  package.json
  src/assets/icons/searchIcon.tsx
  src/components/ActorFilmography.tsx
  src/components/MovieSearch.module.css
  src/components/MovieSearch.tsx
  src/utils/api.ts
  vite.config.ts
  yarn.lock
Due: frontend, backend

bump
  src/assets/icons/searchIcon.tsx
  src/components/MovieSearch.tsx
  src/types/types.tsx
  src/utils/calculateAge.ts
Due: frontend, backend

Adding in a lot of stuff. Like so much stuff for one commit but eh go big
  package-lock.json
  package.json
  src/App.tsx
  src/components/ActorFilmography.tsx
  src/components/MovieDetails.module.css
  src/components/MovieDetails.tsx
  src/components/MovieSearch.module.css
  src/components/MovieSearch.tsx
  src/components/header/Header.module.css
  src/components/header/Header.tsx
  src/pages/HomePage.module.css
  src/pages/HomePage.tsx
  src/styles/global.css
  yarn.lock
Due: frontend

Big push lots of little bugs fun
  src/App.tsx
  src/components/ActorFilmography.tsx
  src/components/MovieDetails.tsx
  src/pages/HomePage.tsx
Due: frontend

Adding updates to mobile styles for search and adding in better ability to edit the settings on the movie details and it will also update the metrics better too yay fun lets go
  src/assets/icons/sliderIcon.tsx
  src/components/MovieDetails.module.css
  src/components/MovieDetails.tsx
  src/components/MovieSearch.module.css
  src/pages/HomePage.module.css
Due: frontend

bump
  src/assets/icons/sliderIcon.tsx
Due: none

Adding some structure
  src/App.tsx
  src/components/ActorFilmography/ActorFilmography.module.css
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/CastList.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieItem.module.css
  src/components/MovieItem/MovieItem.module.css
  src/components/MovieItem/MovieItem.tsx
  src/components/MovieList/MovieList.module.css
  src/components/MovieList/MovieList.tsx
  src/components/MovieSearch/MovieSearch.module.css
  src/components/MovieSearch/MovieSearch.tsx
  src/components/header/Header.tsx
  src/pages/HomePage.module.css
  src/pages/HomePage.tsx
Due: frontend

Cleaning up styles. Like a lot. Hey maybe we can actually design this thing lol
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieSearch/MovieSearch.module.css
  src/styles/global.css
Due: frontend

Fixing an error
  src/components/MovieItem/MovieItem.tsx
Due: frontend

Adding in some context
  src/components/ActorFilmography/ActorFilmography.module.css
  src/components/MovieItem/MovieItem.module.css
  src/components/MovieItem/MovieItem.tsx
  src/components/MovieList/MovieList.module.css
  src/components/MovieSearch/MovieSearch.tsx
  src/pages/HomePage.tsx
Due: frontend

Adding in all the storybook stuff to help make this project not look like shit...time to design 🔥 Big Energy
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/__mocks__/handlers.ts
  src/__mocks__/movieData.ts
  src/components/ActorCard/ActorCard.stories.tsx
  src/components/MovieSearch/MovieSearch.stories.tsx
  src/types/types.tsx
  yarn.lock
Due: frontend

Vercel build stuff fixed hopefully 🫠 Melting Brain
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieSearch/MovieSearch.stories.tsx
  src/components/header/Header.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.tsx
Due: frontend

Dummie vercel fix yay 🫠 Melting Brain
  src/components/MovieDetails/MovieDetails.tsx
Due: frontend

ugggh I think its all chill 💀 It Works... Somehow
  .gitignore
  package-lock.json
  package.json
  scripts/sentry-release.js
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/main.tsx
  src/pages/HomePage.tsx
  src/utils/api.ts
  src/utils/sentry.ts
  src/utils/version.ts
  vite.config.ts
  yarn.lock
Due: frontend, backend

Ugggghhgh 🫠 Melting Brain
  package-lock.json
  src/App.tsx
  tsconfig.app.json
  vite.config.ts
  yarn.lock
Due: none

Please please I wanna sleep 🫠 Melting Brain
  src/App.tsx
  vite.config.ts
Due: none

yikes 🤡 Hacky Fix
  src/App.tsx
  src/components/ActorFilmography/index.ts
  src/components/MovieDetails/index.ts
  src/components/header/index.ts
  vite.config.ts
Due: frontend

fix: update build configuration and simplify imports
  package-lock.json
  yarn.lock
Due: none

fix: update build configuration and use relative paths
  .vercelignore
  src/App.tsx
  vercel.json
  vite.config.ts
Due: none

fix: update vercel and vite configuration for static builds
  .gitignore
  src/App.tsx
  vercel.json
  vite.config.ts
Due: none

fix: update vercel config for static site deployment
  vercel.json
  vite.config.ts
Due: none

fix: simplify build configuration and use explicit paths
  .vercelignore
  src/App.tsx
  vercel.json
  vite.config.ts
Due: none

fix: make sentry optional during vercel build
  vercel.json
  vite.config.ts
Due: none

fix: remove file extensions from imports
  src/App.tsx
Due: none

fix: use index files for component imports
  src/App.tsx
  vite.config.ts
Due: none

fix: rename Header component to lowercase for consistency
  src/App.tsx
Due: none

fix: update sentry configuration for browser builds
  src/utils/sentry.ts
  vite.config.ts
Due: backend

fix: add node polyfills for browser environment
  package-lock.json
  package.json
  vite.config.ts
  yarn.lock
Due: none

fix: update sentry configuration for browser compatibility
  src/utils/sentry.ts
  vite.config.ts
Due: backend

fix: add node polyfills for browser compatibility
  package-lock.json
  package.json
  src/utils/sentry.ts
  vite.config.ts
  yarn.lock
Due: backend

Making a small test
  README.md
Due: none

Making a small change to the UI to see it roll 🫠 Melting Brain
  src/pages/HomePage.tsx
Due: none

Adding in some styles updates and storybook updates 🎶 Vibing
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorCard/ActorCard.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/Typography/Typography.module.css
  src/components/Typography/Typography.stories.tsx
  src/components/Typography/Typography.tsx
  src/stories/decorators/ThemeDecorator.tsx
  src/styles/theme.css
  yarn.lock
Due: frontend

Adding in a whole bunch of styles with the actor card and making it less static fixing a bug with an icon that was hard coded as well. 💀 It Works... Somehow
  package-lock.json
  package.json
  src/assets/icons/sliderIcon.tsx
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorCard/ActorCard.stories.tsx
  src/components/ActorCard/ActorCard.tsx
  src/components/ActorCard/components/ActorHeader.tsx
  src/components/ActorCard/components/ActorImage.tsx
  src/components/ActorCard/components/ActorMetrics.tsx
  src/components/ActorCard/types.ts
  src/components/MovieDetails/MovieDetails.module.css
  src/components/SettingsMenu/SettingsMenu.module.css
  src/main.tsx
  yarn.lock
Due: frontend

0.1.0
  package-lock.json
  package.json
Due: none

Path conditions:
  frontend: any of: src/components, but not: src/tests/, **/__mocks__/*
  backend: any of: src/utils, but not: src/tests/, **/__mocks__/*
