Repository jmanhart/age-when-made: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# codecov.yml
coverage:
  status:
    project:
      default:
        threshold: 2% # Allowable drop in coverage before marking it as a failure
    patch:
      default:
        threshold: 1% # Allowable drop in coverage for individual patches

comment:
  layout: "header, diff, files" # Display header, diff, and files in comments on pull requests
  behavior: default
  require_changes: false

parsers:
  javascript:
    enable_partials: yes

flags:
  frontend: # Optional: Flag to specify coverage groups
    paths:
      - "src/components" # Path to include in the "frontend" flag
  backend:
    paths:
      - "src/utils" # Path to include in the "backend" flag

ignore:
  - "src/tests/" # Ignore test files from coverage reports
  - "**/__mocks__/*" # Ignore mock files in coverage

# Adjust report thresholds
report:
  range: "80...100" # Set green coverage range (e.g., between 80% to 100%)

Adding in a Date picker - 🙃 What Am I Doing?
  package.json
  src/components/DatePicker/DatePicker.module.css
  src/components/DatePicker/DatePicker.stories.tsx
  src/components/DatePicker/DatePicker.tsx
  yarn.lock
Due: frontend

Adding in tracking links - 🫠 Melting Brain
  index.html
Due: none

feat: enhance Sentry performance monitoring and web vitals
  package-lock.json
  package.json
  src/utils/sentry.ts
  yarn.lock
Due: backend

Adding in a fix to a bunch of cool stuff 🫠 Melting Brain
  package-lock.json
  package.json
  src/utils/api.ts
  src/utils/sentry.ts
  yarn.lock
Due: backend

Adding in session replay to my app 🫠 Melting Brain
  src/utils/sentry.ts
Due: backend

Adding in a tweak to the Sentry init
  src/utils/sentry.ts
Due: backend

Adding in some style tweaks on the search bar. 🔥 Big Energy
  src/components/MovieSearch/MovieSearch.module.css
  src/components/MovieSearch/MovieSearch.tsx
Due: frontend

removing that freaking bold bit of copy
  src/components/MovieSearch/MovieSearch.module.css
Due: frontend

Adding in search style tweaks (fixing the selected state)
  src/components/MovieSearch/MovieSearch.module.css
  src/components/MovieSearch/MovieSearch.tsx
Due: frontend

Thats enough for today style clean up 🎉 Victory
  src/components/MovieSearch/MovieSearch.module.css
  src/components/MovieSearch/MovieSearch.tsx
Due: frontend

Adding in some style updates and UX imporovements 🎉 Victory
  index.html
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorCard/ActorCard.tsx
  src/components/ActorCard/components/ActorHeader.tsx
  src/components/ActorCard/components/ActorImage.tsx
  src/components/ActorCard/components/ActorMetrics.tsx
  src/components/ActorFilmography/ActorFilmography.module.css
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/header/Header.tsx
Due: frontend

Adding in some tags
  src/components/DateSelector/DateSelector.module.css
  src/components/DateSelector/DateSelector.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/components/StatusTag/StatusTag.module.css
  src/components/StatusTag/StatusTag.tsx
  src/pages/HomePage.tsx
Due: frontend

Adding in some cool styles for the tags and adjusting the movie details info ⚠️ Commit and Pray
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/components/StatusTag/StatusTag.module.css
  src/components/StatusTag/StatusTag.tsx
Due: frontend

hot fix lol
  src/pages/HomePage.tsx
Due: none

Adding in some style fixes to the actorFilmography. Better but still kinda bad yay fun 🫠 Melting Brain
  src/components/ActorFilmography/ActorFilmography.module.css
  src/components/ActorFilmography/ActorFilmography.tsx
Due: frontend

Adding in posthog yolo
  .env.example
  POSTHOG_SETUP.md
  package-lock.json
  package.json
  src/components/ActorCard/ActorCard.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/main.tsx
  src/utils/posthog.ts
  yarn.lock
Due: frontend, backend

Adding in sentry logs and setting it up 🎉 Victory
  src/App.tsx
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/ErrorBoundary.tsx
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/components/header/Header.tsx
  src/hooks/useFetch.ts
  src/main.tsx
  src/pages/HomePage.tsx
  src/utils/api.ts
  src/utils/sentry.ts
Due: frontend, backend

Adding in a hot fix to logs 🫠 Melting Brain
  src/components/MovieDetails/MovieDetails.tsx
Due: frontend

Adding in better logging and not sending 3mb of logs everytime 😅 Desperate Fix
  src/App.tsx
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/components/header/Header.tsx
  src/main.tsx
  src/pages/HomePage.tsx
  src/utils/api.ts
Due: frontend, backend

Removing all the console logging to save the logs team from killing my sentry account. 🎉 Victory
  src/components/MovieSearch/MovieSearch.tsx
  src/components/header/Header.tsx
  src/utils/api.ts
  src/utils/calculateAge.ts
  src/utils/fetchActorDetails.ts
  src/utils/sentry.ts
Due: frontend, backend

Adding in human readable url slugs 💀 It Works... Somehow
  src/App.tsx
  src/components/ActorCard/ActorCard.tsx
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieItem/MovieItem.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/utils/api.ts
  src/utils/slugUtils.ts
Due: frontend, backend

Setting up to dev on my windows machine
  .env.example
  .txt
  package-lock.json
  package.json
  src/pages/HomePage.tsx
  vite.config.ts
  yarn.lock
Due: none

Add polish changes for dates
  src/__mocks__/browser.ts
  src/__mocks__/handlers.ts
  src/main.tsx
Due: none

Adding a switch to bounce between real and mock data
  .env.example
  package.json
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorCard/components/ActorMetrics.tsx
  src/components/DateWithTooltip/DateWithTooltip.module.css
  src/components/DateWithTooltip/DateWithTooltip.tsx
  src/components/DateWithTooltip/index.ts
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/main.tsx
Due: frontend

Adding in new layouts
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorCard/components/ActorMetrics.tsx
  src/components/DateWithTooltip/DateWithTooltip.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
Due: frontend

Addign in the layout to the filmography page
  src/components/ActorCard/components/ActorMetrics.tsx
  src/components/ActorFilmography/ActorFilmography.module.css
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/DateWithTooltip/DateWithTooltip.tsx
Due: frontend

Fixing some layout
  src/App.tsx
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorFilmography/ActorFilmography.module.css
  src/components/MovieDetails/CastContent.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieDetails/MovieSidebar.tsx
  src/components/header/Header.module.css
  src/styles/global.css
  src/styles/theme.css
Due: frontend

Fix API performance: cache actor details, batch requests, debounce search, and cancel stale fetches
  .gitignore
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/hooks/useFetch.ts
  src/utils/api.ts
  src/utils/fetchActorDetails.ts
Due: frontend, backend

Adding in cool stuff 😤 Frustrated
  yarn.lock
Due: none

Adding in some cool fixes 🔥 Big Energy
  package-lock.json
  package.json
  src/components/ActorCard/ActorCard.tsx
  src/components/ActorCard/components/ActorImage.tsx
  src/components/ActorFilmography/ActorFilmography.tsx
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieItem/MovieItem.tsx
  src/components/MovieSearch/MovieSearch.tsx
  src/main.tsx
  src/utils/api.ts
  src/utils/fetchActorDetails.ts
  src/utils/posthog.ts
  src/utils/sentry.ts
  vite.config.ts
  yarn.lock
Due: frontend, backend

Fixes
  src/components/CastTimeline/CastTimeline.module.css
  src/components/CastTimeline/CastTimeline.tsx
  src/components/CastTimeline/index.ts
  src/components/MovieDetails/CastContent.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/components/MovieDetails/utils.ts
Due: frontend

Adding in some cool stuff
  src/App.tsx
  src/components/BirthDatePicker/BirthDatePicker.module.css
  src/components/BirthDatePicker/BirthDatePicker.tsx
  src/components/CastTimeline/CastTimeline.tsx
  src/components/MovieDetails/CastContent.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieDetails/MovieDetails.tsx
  src/components/SegmentControl/SegmentControl.module.css
  src/components/SegmentControl/SegmentControl.tsx
  src/components/SortCycleButton/SortCycleButton.module.css
  src/components/SortCycleButton/SortCycleButton.tsx
  src/components/YouCard/YouCard.module.css
  src/components/YouCard/YouCard.tsx
  src/components/header/Header.module.css
  src/components/header/Header.tsx
  src/hooks/useBirthDate.ts
  src/styles/theme.css
Due: frontend

Adding in some changes
  src/components/MovieDetails/CastContent.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/SettingsMenu/SettingsMenu.module.css
  src/components/SettingsMenu/SettingsMenu.tsx
Due: frontend

Updating the readme
  README.md
Due: none

Adding in some small changes
  src/components/ActorCard/ActorCard.module.css
  src/components/ActorCard/components/ActorImage.tsx
  src/components/MovieDetails/CastContent.tsx
  src/components/MovieDetails/MovieDetails.module.css
  src/components/MovieSearch/MovieSearch.tsx
  src/components/YouCard/YouCard.module.css
Due: frontend
